# AWS
# ====================
.aws

# LocalStack
# ====================
localstack/volume

# Terraform
# ====================
.terraform
*.tfstate
*.tfstate.*

# SOPS / AGE
# ====================
keys.txt

# Direnv
# ====================
.direnv
